@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800&display=swap');

:root {
  --main-dark-blue: #182840;
  --main-yellow: #FFF000;
  --second-yellow: #867d00;
  --main-gray: #EEEEEE;
}